@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  background: linear-gradient(rgb(187, 221, 136), ghostwhite);
  background-image: "étel.jpg";
  color: #333;
  font-family: "Nunito";
  font-weight: bold;
  background-repeat: no-repeat;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  min-height: 920px;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 12px;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

nav a:hover {
  background-color: #fccd4c;
  color: #ffffff;
}

nav a:active {
  background-color: #faa93e;
  color: #ffffff;
}

nav .logo {
  margin-right: auto;
}

button {
  float: left;
  display: block;
  color: #ffffff;
  background-color: #9ec06b;
  margin-left: 12px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

button:hover {
  background: #5b6b429f;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
